* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @include sans-serif;
}
html {
    font-size: 16px * $font_size_mulitplier;
}

h1 {
    color: $purple;
    @include serif;
    @include bold;
    font-size: 60px * $font_size_mulitplier;
}
h2 {
    color: $brown;
    @include serif;
    font-weight: 400;
    font-size: 40px * $font_size_mulitplier;
}
h3 {
    @include bold;
    font-size: 22px * $font_size_mulitplier;
}
li {
    list-style-type: none;
}
a {
    color: inherit;
    text-decoration: none;

    &:hover, &:active, &:focus {
        text-decoration: none;
        color: $green;
    }
}