.container {
    width: 80%;
    margin: 0 auto;
    min-height: 85vh;

    &>*+* {
        margin-top: 20px;
    }
}
body {
    background-color: $white;
    border: 12.5px solid $gold;
    
    padding: 1% 0 3%;
    min-height: 100vh;
}
